# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.venv/
venv/
venv312/
.env

# Database
*.db

# Uploads
uploads/

# Node
frontend/node_modules/
frontend/dist/
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/

# OS
.DS_Store
